@use "../../../assets/styles/main.scss" as *;

.contact-section {
  background: $tertiary-color;

  // ---------------------------
  // Fonts
  // ---------------------------
  .cursive-font {
    font-family: cursive;
    color: $primary-color;
  }

  .banner {
    position: relative; // Needed for absolute overlay
    height: 200px; // adjust height as needed
    background-image: url(../../../assets/images/contact.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }

  // ---------------------------
  // Map Section
  // ---------------------------
  .map-section {
    margin-top: 3rem;

    iframe {
      width: 100%;
      height: 350px;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  // ---------------------------
  // Message Box of Mail
  // ---------------------------
  #message {
    border-radius: 0.375rem;
    background-color: $white-color;
    width: 100%;

    // Quill editor wrapper
    ::ng-deep .ql-container {
      min-height: auto;
      height: auto;
      overflow: hidden;
    }

    // Actual text area inside the editor
    ::ng-deep .ql-editor {
      min-height: 6rem;
      max-height: 12rem;
      overflow-y: auto;
    }
  }

  // ---------------------------
  // Responsive
  // ---------------------------
  @media (max-width: 768px) {
    .note-card {
      padding: 1.5rem;
      border-top-right-radius: 30px;
    }

    .info-section {
      padding-left: 0;
      margin-top: 2rem;
    }

    .map-section iframe {
      height: 250px;
    }
  }
}