@use "../../../assets/styles/main.scss" as *;

.about-us {
  text-align: center;
  h1{
    font-size: 3rem;
  }
}


.timeline {
  position: relative;
  width: 100%;
  min-height: 120px;
}

.timeline-steps {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  flex-wrap: nowrap;
}

.timeline-step {
  text-align: center;
  width: 7.5rem;
  flex: 0 0 auto;
}

.icon-circle {
  width: 4.375rem;
  height: 4.375rem;

  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    $primary-color 70%,
    $secondary-color 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}



/* Mobile view */
@media (max-width: 768px) {
  .timeline-steps {
    flex-direction: column;
    align-items: center;
  }

  .timeline-step {
    width: auto;
    margin-bottom: 2.5rem;
  }

  .icon-circle {
    width: 3.75rem;
    height: 3.75rem;
  }

  .about-hero {
    height: 70vh;
    padding: 2rem 1rem;
  }

  .card-img-top {
    height: 15.625rem;
  }
}
