@use "../../../assets/styles/main.scss" as *;
@use "../../../assets/styles/main.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $white-color;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 400px;
  cursor: pointer;

  .card-image {
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;

    .category span {
      display: inline-block;
      font-size:x-small;
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 20px;
      padding: 0.3rem 0.5rem;
      margin-bottom: 0.75rem;
    }

    .card-title {
      margin: 0 0 1rem 0;
      color: $text-color;
    }

    .card-footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: transparent;

      .duration {
        color: $primary-color;
        font-weight: 500;

        i {
          margin-right: 0.5rem;
        }
      }

      .primary-button {
        min-height: 40px;
        padding: 0.5rem 1rem;
        background-color: $primary-color;
        color: $white-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}
