<!--  Floating Bot Button -->
<section class="enquiry-bot-section">
  <div class="container">
    <button class="scroll-top-button" title="Go to Top" (click)="scrollToTop()">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <div
      class="chatbot-button fw-bold"
      title="Enquiry Form"
      role="button"
      aria-haspopup="dialog"

      (click)="togglePopup()"
    >
      Enquiry Now
    </div>

    <!--  Popup Form -->
    <div
      class="chatbot-popup animated"
      [class.slideInRight]="!isClosing"
      [class.slideOutRight]="isClosing"
      *ngIf="isPopupVisible"
    >
      <div
        class="chatbot-header d-flex justify-content-between align-items-center"
      >
        <h5 class="primary-color">Quick Enquiry</h5>
        <button class="close-button" (click)="togglePopup()" aria-label="Close Enquiry Form">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <form [formGroup]="enquiryForm" (ngSubmit)="sendEnquiry()">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="name" class="required-label">Name</label>
            <input
              id="name"
              type="text"
              formControlName="name"
              class="form-control"
              aria-required="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <label for="mobile" class="required-label">Mobile Number</label>
            <input
              id="mobile"
              type="tel"
              formControlName="mobile"
              class="form-control"
              aria-required="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <label for="email" class="required-label">Email</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              class="form-control"
              aria-required="true"
            />
          </div>

          <!-- Dropdown -->
          <div class="col-md-12 mb-3">
            <label for="enquiry-regard" class="required-label"
              >Enquire Regarding</label
            >
            <select
              id="enquiry-regard"
              formControlName="enquiryType"
              class="form-select"
            >
              <option value="">Select an option</option>
              <option value="Course">Course</option>
              <option value="Internship">Internship</option>
            </select>
          </div>

          <div class="col-md-12 mb-3" *ngIf="isBrowser">
            <label for="enquiry-message" class="required-label">Message</label>
            <div class="quill-wrapper resizable">
              <quill-editor
                [(ngModel)]="message"
                [modules]="quillModules"
                formControlName="message"
                [placeholder]="'Type your message here...'"
              ></quill-editor>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="primary-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
