<section class="courses-banner">
  <!-- <div class="banner">
    <div class="container">
      <div class="overlay"></div>
      <div class="d-flex flex-column">
        <h1>Explore Our Courses</h1>
        <p>Find the right course for you and boost your career.</p>
      </div>
    </div>
  </div> -->

  <section class="course-list">
    <div class="container">
      <div *ngIf="loading" class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading">
        <!-- Filter options -->
        <div class="row mb-4">
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-text bg-white">
                <i class="fas fa-search text-muted"></i>
              </span>
              <input
                type="text"
                class="form-control no-focus"
                placeholder="Search..."
                [(ngModel)]="searchTerm"
                (input)="applyFilters()"
              />
            </div>
          </div>

          <div class="col-md-3">
            <ng-select
              [items]="categoriesWithAll"
              [(ngModel)]="selectedCategory"
              (change)="applyFilters()"
              [clearable]="false"
               [searchable]="false"  
            >
              <ng-template ng-label-tmp let-item="item">
                {{ item }}
                <span class="custom-caret"></span>
               
              </ng-template>
            </ng-select>
          </div>
        </div>

        <!-- Course cards -->
        <div class="row">
          <div class="col-md-4 mb-4  " *ngFor="let course of filteredCourses">
            <app-card [course]="course"></app-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
