@use "./variables" as *;

button {
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
}
.primary-button {
  color: #fff;
  background: $primary-color;
  transition: background 0.2s ease;

  &:hover {
    background: $primary-color-hover;
    
  }
}

.secondary-button {
  margin-left: 2px;
  border: 1px solid $primary-color;
  background: $white-color;
  color: $primary-color;

  &:hover {
    background: $primary-color-light;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.whatsapp-button {
  color: $whatsapp-color !important;
  font-size: 1.8rem;
}
.close-button{
  background-color: transparent;
  color: $primary-color;
}