<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="welcome">
        <h4>Welcome</h4>
        <p>
          Ready to take your learning to the next level? Gain certifications and
          show potential employers your skills and knowledge.
        </p>
      </div>
      <div class="community">
        <h4>Community</h4>
        <p>
          Stay connected with our community. Get access to exclusive content,
          lessons, and discounts. Join now and start learning!
        </p>
      </div>
      <div class="connect">
        <h4>Connect</h4>
        <p>Follow us on social media for the latest updates:</p>
        <div class="d-flex gap-3">
          <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
       
      </div>
    </div>
  </div>
</section>
